:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --color-brand-alpha: #ffffff;
    --color-brand-beta: #3b413c;
    --color-brand-gamma: #9db5b2;
    --color-brand-psi: #daf0ee;
    --color-brand-omega: #94d1be;
    --size-default-spacing: 20px;
}

body {
    min-height: 100svh;
    display: grid;
    grid-template: 1fr / 360px 1fr;
}

aside {
    background-color: var(--color-brand-beta);
    color: var(--color-brand-alpha);
    display: grid;
    grid-template: 1fr 50px / 1fr;
    gap: var(--size-default-spacing);
}

main {
    padding: 30px;
}

#project-actions {
    display: grid;
    grid-auto-flow: column;
}

button {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-brand-beta);
    cursor: pointer;
    background-color: var(--color-brand-omega);
    border: none;
}

button:hover {
    background-color: var(--color-brand-psi);
}

#projects {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 50px;
}

.project {
    padding: 0 20px;
    border-bottom: 1px solid var(--color-brand-alpha);
}

.project:hover {
    background-color: var(--color-brand-psi);
    color: var(--color-brand-beta);
    cursor: pointer;
}

.project-name {
    font-weight: bold;
}

#new-project-view {
    padding: 0 20px;
    display: grid;
    grid-template: 1fr / 1fr 50fr;
}

input {
    border: 10px solid var(--color-brand-alpha);
}

input:focus {
    border: 10px solid var(--color-brand-omega);
    outline: none;
}

main {
    display: grid;
    gap: 20px;
    grid-template: 180px 1fr / 1fr;
}

#project-heading {
    border: 10px solid var(--color-brand-omega);
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

#project-details {
    border: 10px solid var(--color-brand-gamma);
    padding: 20px;
}

#add-todo {
    position: fixed;
    justify-self: end;
    align-self: end;
    margin: 0 50px 50px 0;
    border-radius: 100%;
    font-size: 5rem;
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
}